@charset "utf-8";

/* Global Styles */

#preview-bar-iframe,
.collection-digital-goods-vat-tax,
.collection-monarch-regular,
.collection-skrappa-bold-condensed,
.collection-frontpage,
#admin-bar-iframe {
  display: none !important;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root{
  --main:"UniversLTStd";
  --M: 16px;
}
.afrange{
margin-bottom:10px;
  
}
html,
body,
div,
span,
header,
footer,
section,
article,
aside,
menu,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
strong,
b,
i,
s,
address,
sub,
sup,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
html{
  padding-bottom: 0px!important;
}
ol,
ul,
li {
  list-style: none;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

html {
}
input{
  background-color: transparent!important;
  padding: 5px 5px 5px 0px!important;
}
select{
    padding: 5px 5px 5px 0px!important;
}
input,
button,
select {
  font-family: var(--main);
  font-size: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  color: inherit;
  background: transparent;
  background-color: transparent;
  line-height: 1.5 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="date"]{
  padding: 0!important;
}

input[type="checkbox"],
button,
select {
  display: block;
  cursor: pointer;
  font-size: 16px !important;
  line-height: 17.4px;
}

* {
    font-family:var(--main);
  font-size: 16px !important;
  line-height: 18.4px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input:disabled,
button:disabled,
select:disabled {
  pointer-events: none;
  opacity: 1;
  color: lightgray;
}
textarea:disabled {
  display: none;
}
a.active{
  color: #ff004b;
}
a:hover{
  color: #ff004b;
}
strong {
    line-height: 12px;
    font-size: 12px!important;
}

::-webkit-input-placeholder,
::placeholder {
  color: inherit;
  line-height: normal !important;
  opacity: 0.2!important;
}

::-webkit-scrollbar {
  display: none;
}

:focus {
  outline: none !important;
}
.info_content {
    width:calc(100% - 420px);
}
.project_info {
    width: 60%;
    /* width: calc(100% + 0px); */
}

:focus::-ms-value {
  background-color: none;
  color: inherit;
}

::-moz-focus-inner {
  border: none !important;
}

/* BASIC STYLES */
::selection {
  color: grey;
  background-color: white;

}

body {
  font-family:var(--main);
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: auto;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-smoothing: antialiased;
}

img,
video {
  height: auto;
  display: block;
  object-fit: contain;
  font-size: 0;
  line-height: 0;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* MAIN */
header {
  width: fit-content;
  z-index: 1000;
  top: 0px;
  left: 0px;
  position: fixed;
}
.baggie{
  margin-bottom: 10px;
}
footer {
  width: calc(100% - 10px);
  color: #ff004b;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index:10000;
  font-size: 10px!important;
}
footer span{
    font-size: 10px!important;
}
.logo svg {
    height: fit-content;
    width: 100px;
    margin-bottom: 10px;
}

.logo{
  z-index:1000;
}
.menu {
  text-transform: uppercase;
  align-items: center;
  padding: 10px;
  width: fit-content;
  color: black;
  position: sticky;
  top: 0px;
  color: black;
}
#white{
  color: white;
}

.floralokal{
  margin-bottom: 10px;
}

/* SHOP */
.main {
  padding: 0px 20px 20px 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}
input:disabled {
  color: lightgray;
  /* Add any other styles you want */
}
span.cart-total {
    margin-left: 10px;
}
.variations .selector-wrapper:nth-child(1) {
order: -1;
}
.variations .selector-wrapper:nth-child(2) {
order: -1;
}
.gallery {
      width: calc(100% - 410px);

    margin-top: 10px;
    padding: 0px;
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
      grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
}
.title{
  margin-bottom: 40px;
}
.empty {
    left: 400px;
    top: 10px;
    position: fixed;
    text-transform: uppercase;
}
.afrange {
    z-index: 1000;

    padding-bottom: 5px!important;
    padding: 10px;
    background-color:  #ff004b;
    color: #fff;
    width: 400px;
}
.afrange a:hover{
  color: white;
}
.under{
      color:  #ff004b;
      padding: 5px 0px;
      font-size: 12px!important;

}
.comentar{
  z-index: 10000000;
  position: fixed;
  top: 10px;
  right: 10px;
}
.all_products {
    grid-column: span 15;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    padding: 10px;
}
.clear{
  z-index: 1000;
  text-align: left;
  width: 100%;
  a {
      margin-top: 5px;
      display: inline-block;
      padding: 10px!important;
      line-height: 1!important;
      padding-top: 5px;
      background-color:  black;
      color: #fff;
      text-align: left;
      cursor: pointer;
    }
}
li {
    padding: 5px 0px;
}
.besttelen {
    z-index: 1000;
    padding-bottom: 5px!important;
    width: 100%;
    button {
      padding: 10px;
      background-color:  #ff004b;
      color: #fff;
      text-align: left;
      cursor: pointer;
    }
}
select {
    text-transform: uppercase;
    width: 100%;
    font-size: 16px!important;
    background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
  background-position:
    calc(100% - 13px) calc(1em - 7px),
    calc(100% - 8px) calc(1em - 7px),
    50%;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}
.selector-wrapper {
  label {
    display: none;
  }
}
.cart-attribute__field {
  margin-top: .5rem;
}
select:invalid { opacity: 0.3!important;color:green!important; }
span#grey{
  color:grey!important;
}
textarea#your-name {
  border: none;
 overflow: auto;
 outline: none;
  resize: none;
    width: 100%;
    padding: 0px;
    border-radius: 0px!important;
}
.info-text{
  font-size: 10px!important;
}
.product_info{
  position: fixed;
  width: 400px;
  top: 10px;
  right: 10px;
  background-color: white;
  padding-bottom: 0px;
  z-index:1000001;
}
div#bag {
    display: none;
    padding:10px 0px 0px 0px;
    @media(min-width:1024px){
      display: block;
    }
  
}
.open span{
  float: right;
}
#main-collection.main>div:not(.events) {}

.main .main-title {}

.all_products {}

img {
  width: 100%;
}

.product {}

.product .main-information {}

.product #bag-total {}

.product #bag-total .title {}

.sold-out {}

.product #bag-total .sale,
.product #bag-total .sold-out {}

.product #bag-total .sale {}

button#add-to-cart {}

button#produ {
  margin-top: 1rem;
}

button#produ.active,
button#produ:focus {}

button#checkout {}

button#add-to-cart.active,
button#add-to-cart:focus {}

button#checkout.active,
button#checkout:focus {}

/* STOCKIST */

/* RANDMON */

.home_img {
  z-index: 0;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  width: 100vw;
  left: 50%;
  top: 50%;
  display:block;
  transform: translate(-50%,-50%);
}
.home_img.mobile{
  display:none;
  z-index:100;
}
.home_img.desktop{
  display:block!important;
  z-index:100;
}
.home_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid_info{
  text-transform: uppercase;
  padding: 10px;
  position: absolute;
  left: 300px;
  width: auto;
}
div#product-price {
    padding-bottom: 5px;
}
/* FOOTER */

footer {}

/* CART */

.product-title {}

.product-title:hover {}

#cart-wrapper {
  padding: 10px;
  overflow: auto;
  position: absolute;
  left: 300px;
  width: auto;
  position: fixed;
  right: 10px;
  z-index:1000001;
  height: 100%;
  padding-bottom: 2rem;
  @media(max-width:767px){
      position: relative;
      right: auto;
      bottom: auto;
  }
  .info-text {
    display: block;
    margin-bottom: .25rem;
  }
  .item + .item {
    .info-text {
      margin-top: 1rem;
    }
  }
  .total {
    margin-bottom: 1rem;
    .info-text {
      margin-top: 1rem;
    }
  }
}

#cart-wrapper .item {}

#cart-wrapper .item .thumb {}

#cart-wrapper #checkout {}

.item-quantity {}

.item-title {}

.item-quantity span {}

.item-quantity span:hover {}

.clear {}

.variations {
  display: grid;

}

.total {}

.total div:first-child {}

.extra {}

.checkout {}

.empty {}
textarea{
  width: 100%;
  resize: none;
  border:0px;
  padding: 0!important;
  height: 1em;
}
/* FONTS */

@font-face {
  font-family: 'UniversLTStd';
  src: url('UniversLTStd-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* SLIDER */

/* SWIPER */

/* ANIMATIONS */

/* STUDIO */

/* ABOUT */

/* RESPONSIVE */

@media (min-width: 1920px) {}

/*NORMAL DESKTOP*/
@media (min-width: 1681px) and (max-width: 1920px) {}

/*BIG LAPTOP DESKTOP*/
@media (min-width: 1441px) and (max-width: 1680px) {}

/*MOBILE CARD*/
@media (max-width: 812px) and (orientation: landscape) {}

/*MOBILE LANDSCAPE*/
@media (max-width: 1200px) {

  .info_content {
    width: 100%;
}
.afrange{
  width:300px;
}
.under{
  width:300px;
}
.gallery {
    width: 100%;
}
.comentar {
  padding: 0px;
  padding-left: 0px!important;
    z-index: 10000000;
    position: sticky;
    top: 10px;
    right: 10px;
}
}

/*IPAD PORTRAIT*/
@media (max-width: 768px) {
  .gallery {
    margin-top: 10px;
    padding: 0;
    grid-gap: 10px;
    display: grid;
    width: 100%;
}
  .grid_info {
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    left: 0px;
}
.comentar {
  margin-top: 20px;
    z-index: 10000000;
    position: sticky;
width: 100%;
}
#cart-wrapper {
  padding: 10px;
  width: 100%;
  padding-left: 10px;
  position: relative;
  left: 0px;
}
.main{
  padding: 0px;
}
.empty {
  width: 400px;
  text-transform: uppercase;
  padding: 0px;
  position: relative;
  left: 10px;
}

footer{
  z-index:100000;
  margin-top: auto;
position: relative;
bottom: 10px;
padding-top: 20px;
left: 10px;
font-size: 10px!important;
}
.info_content {
    width: 100%;
}
header{
  position: relative;
}.product_info {
    position: sticky;
    width: 100%;
    top: 10px;
    background-color: white;
}
.product_info {
    position: sticky;
    top: 10px;
    width: 100%!important;
    top: 10px;
    right: 10px;
}
div#bag {
    display: none;
    padding: 10px 0px 0px 0px;
}
.open span{
  float: right;
}
.besttelen.open{
      margin-top: 20px;
}
.home_img.mobile{
  display:block;
  z-index:100;
}
  
  textarea{height: 20px;
resize: none;
border: 0px;
padding: 0px;
margin-left: 0px;
}
}

/*SMALL TABLET*/
@media (max-width: 600px) {}

/*MOBILE*/
@media (max-width: 414px) {


  .afrange{
    width: 100%;
  }
}

/*SMALL MOBILE*/
@media (max-width: 320px) {}


