@charset "utf-8";

/* Global Styles */

#preview-bar-iframe,
.collection-digital-goods-vat-tax,
.collection-monarch-regular,
.collection-skrappa-bold-condensed,
.collection-frontpage,
#admin-bar-iframe {
  display: none !important;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root{
  --main:"helvetica";
  --M: 14px;
}

html,
body,
div,
span,
header,
footer,
section,
article,
aside,
menu,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
strong,
b,
i,
s,
address,
sub,
sup,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul,
li {
  list-style: none;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

html {
  font-size: 2px;
  padding-bottom: 0px !important;
}

input,
button,
select {
  font-family: 'NimbusSansExtdDBlack';
  font-size: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  font-size: 11px !important;
  color: inherit;
  background: transparent;
  background-color: transparent;
  line-height: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"],
button,
select {
  display: block;
  cursor: pointer;
}

* {
  font-size: 14px !important;
  line-height: 15.4px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input:disabled,
button:disabled,
select:disabled {
  pointer-events: none;
  opacity: 1;
}

::-webkit-input-placeholder,
::placeholder {
  color: inherit;
  line-height: normal !important;
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}

:focus {
  outline: none !important;
}

:focus::-ms-value {
  background-color: none;
  color: inherit;
}

::-moz-focus-inner {
  border: none !important;
}

/* BASIC STYLES */
::selection {
  color: grey;
  background-color: white;

}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: auto;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-smoothing: antialiased;
}

img,
video {
  height: auto;
  display: block;
  object-fit: contain;
  font-size: 0;
  line-height: 0;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* MAIN */
header {
  width: fit-content;
  z-index: 1000;
  top: 0px;
  position: sticky;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.menu {
  text-transform: uppercase;
  align-items: center;
  padding: 10px;
  width: fit-content;
  color: black;
  position: sticky;
  top: 0px;
}

/* SHOP */
.main {
  padding: 0px 20px 20px 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

#main-collection.main>div:not(.events) {}

.main .main-title {}

.all_products {}

img {
  width: 100%;
}

.product {}

.product .main-information {}

.product #bag-total {}

.product #bag-total .title {}

.sold-out {}

.product #bag-total .sale,
.product #bag-total .sold-out {}

.product #bag-total .sale {}

button#add-to-cart {}

button#produ {}

button#produ.active,
button#produ:focus {}

button#checkout {}

button#add-to-cart.active,
button#add-to-cart:focus {}

button#checkout.active,
button#checkout:focus {}

/* STOCKIST */

/* RANDMON */

.home_img {
  top: 0;
  background-color: white;
  position: fixed;
  width: 80vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
}

/* FOOTER */

footer {}

/* CART */

.product-title {}

.product-title:hover {}

#cart-wrapper {}

#cart-wrapper .item {}

#cart-wrapper .item .thumb {}

#cart-wrapper #checkout {}

.item-quantity {}

.item-title {}

.item-quantity span {}

.item-quantity span:hover {}

.clear {}

.variations {}

.total {}

.total div:first-child {}

.extra {}

.checkout {}

.empty {}

/* FONTS */

@font-face {
  font-family: 'MinionPro-Medium';
  src: url('MinionPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* SLIDER */

/* SWIPER */

/* ANIMATIONS */

/* STUDIO */

/* ABOUT */

/* RESPONSIVE */

@media (min-width: 1920px) {}

/*NORMAL DESKTOP*/
@media (min-width: 1681px) and (max-width: 1920px) {}

/*BIG LAPTOP DESKTOP*/
@media (min-width: 1441px) and (max-width: 1680px) {}

/*MOBILE CARD*/
@media (max-width: 812px) and (orientation: landscape) {}

/*MOBILE LANDSCAPE*/
@media (max-width: 812px) {}

/*IPAD PORTRAIT*/
@media (max-width: 768px) {}

/*SMALL TABLET*/
@media (max-width: 600px) {}

/*MOBILE*/
@media (max-width: 414px) {}

/*SMALL MOBILE*/
@media (max-width: 320px) {}
